<br>
<br>
<div>
  <h1 id="tituloFleteOptimo">FLETE ÓPTIMO</h1>
</div>

<div id="fletes">
  <div class="botonesFiltro">
    <button id="agregarFlete" type="button" class="btn btn-primary" (click)="openDialog()"
      *ngIf="permisoAInsertarAgregar == 1">Agregar flete</button>
  </div>
</div>

<div class="felteOptimo">
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
      <ng-container matColumnDef="id_oficina">
        <th mat-header-cell *matHeaderCellDef> Sucursal
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.flete}} </td>
      </ng-container>
      <ng-container matColumnDef="cdp">
        <th mat-header-cell *matHeaderCellDef> Ciudad
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.cdp}}% </td>
      </ng-container>
      <ng-container matColumnDef="bultos">
        <th mat-header-cell *matHeaderCellDef> Zona
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.bultos}} </td>
      </ng-container>
      <ng-container matColumnDef="contiene">
        <th mat-header-cell *matHeaderCellDef> Flete optimo
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.contiene}} </td>
      </ng-container>
      <ng-container matColumnDef="volumen">
        <th mat-header-cell *matHeaderCellDef> Estatus
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.volumen}} </td>
      </ng-container>
      <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row"> <button id="Modificar" type="button" class="btn btn-primary"
            (click)="openDialogModificar()" *ngIf="permisoDActualizar == 1"><mat-icon>edit</mat-icon></button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No existe</td>
      </tr>
    </table>
    <div class="spinner-overlay" *ngIf="isLoading">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </section>
  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  <ng-template #dialogTemplate id="divFleteAgregar">
    <div id="datosFlete">
      <div id="datosFleteBox">
        <h1>Agregar Flete</h1>
        <div id="personal">
          <h3>Sucursal</h3>
          <div id="buscarDatosflete">
            <input type="text" class="form-control"><span class="input-group-text"
              id="basic-addon1"><mat-icon>search</mat-icon></span>
          </div>

        </div>
        <div id="usuario" class="datosFlete">
          <h3>Zona</h3>
          <input type="text" class="form-control">
        </div>
        <div id="respuesta" class="datosFlete">
          <h3>Flete optimo</h3>
          <input type="text" class="form-control">
        </div>
        <div class="estatus">
          <div class="form-group" style="width: 100%;">
            <h3>Estatus</h3>
            <div class="switch-group" style="font-size: 0.8em;">
              <label style="padding: 0 1em;" id="inactivo" for="inactivo">Inactivo</label>
              <label class="switch">
                <input type="checkbox" name="estatus">
                <span class="slider round"></span>
              </label>
              <label style="padding: 0 0 0 1em;" id="activo" for="activo">Activo</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="botonesFleteBox">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="oncloseDialog()">Cerrar</button>
    </div>
    <br>
  </ng-template>

  <ng-template #modificarglete>
    <div id="datosFlete">
      <div id="datosFleteBox">
        <h1>Modificar Flete</h1>
        <div id="personal" class="datosFlete">
          <h3>Sucursal</h3>
          <div id="buscarDatosflete">
            <input type="text" class="form-control"><span class="input-group-text"
              id="basic-addon1"><mat-icon>search</mat-icon></span>
          </div>
        </div>
        <div id="usuario" class="datosFlete">
          <h3>Zona</h3>
          <input type="text" class="form-control">
        </div>
        <div id="respuesta" class="datosFlete">
          <h3>Flete optimo</h3>
          <input type="text" class="form-control">
        </div>
        <div id="multiselectBox" class="card flex justify-content-center">
          <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" defaultLabel="Select a City" optionLabel="name"
            display="chip" panelClass="my-panel-class"></p-multiSelect>
        </div>
        <div class="estatus">
          <div class="form-group" style="width: 100%;">
            <h3>Estatus</h3>
            <div class="switch-group" style="font-size: 0.8em;">
              <label style="padding: 0 1em;" for="inactivo">Inactivo</label>
              <label class="switch">
                <input type="checkbox" name="estatus">
                <span class="slider round"></span>
              </label>
              <label style="padding: 0 0 0 1em;" for="activo">Activo</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="botonesFleteBox">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="oncloseDialog()">Cerrar</button>
    </div>
    <br>
  </ng-template>

</div>
