<br><br>
<div>
  <h1 id="tituloSatelitesSucursal">Satélite-Sucursal</h1>
</div>

<div id="fletes">
  <button id="agregarFlete" type="button" class="btn btn-primary" (click)="abrirModalAgregar()"
    *ngIf="permisoAInsertarAgregar == 1">Agregar</button>
</div>

<div class="felteOptimo">
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" class="table table-striped" matSort #tablaSateliteSort="matSort">
      <ng-container matColumnDef="nombrePertenece">
        <th class="header" mat-header-cell *matHeaderCellDef> Sucursal
          <div>
            <input type="text" class="form-control" [formControl]="nombrePerteneceFiltro" (input)="applyFilter()">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.nombrePertenece}} </td>
      </ng-container>
      <ng-container matColumnDef="nombreSatelite">
        <th class="header" mat-header-cell *matHeaderCellDef> Satélite
          <div class="filter">
            <input type="text" class="form-control" [formControl]="sateliteFiltro" (input)="applyFilter()">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.nombreSatelite}} </td>
      </ng-container>
      <ng-container matColumnDef="estatus">
        <th class="header" mat-header-cell *matHeaderCellDef> Estatus
          <div class="filter">
            <input type="text" class="form-control" [formControl]="estatusFiltro" (input)="applyFilter()">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.estatus == 1 ? 'ACTIVADO' : 'INACTIVO' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nombrePersonal">
        <th class="header" mat-header-cell *matHeaderCellDef> Usuario
          <div class="filter">
            <input type="text" class="form-control" [formControl]="personalFiltro" (input)="applyFilter()">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.nombrePersonal}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaMod">
        <th class="header" mat-header-cell *matHeaderCellDef> Fecha modificación
          <div class="filter">
            <input type="text" class="form-control" [formControl]="fechaModFiltro" (input)="applyFilter()">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaMod}} </td>
      </ng-container>
      <ng-container matColumnDef="idOficinaSatelite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row"> <button id="Modificar" type="button" class="btn btn-primary"
            (click)="abrirModalModificar(row.idOficinaSatelite)"
            *ngIf="permisoDActualizar == 1"><mat-icon>edit</mat-icon></button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No existe </td>
      </tr>
    </table>
    <div class="spinner-overlay" *ngIf="isLoading">
      <mat-spinner color="primary"></mat-spinner>
    </div>
    <br>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [pageSize]="5" [pageIndex]="0"
      [length]="dataSource.data.length">
    </mat-paginator>
  </section>

</div>

<ng-template #dialogModificar>
  <div id="datosSatelite">
    <form id="formGroupSatelite" name="formGroupSatelite" style="display: contents;" method="post"
      [formGroup]="formGroupSatelite">
      <div id="datosSateliteBox">
        <h1>{{ modo === 'agregar' ? 'Agregar' : 'Modificar' }} Satélite</h1>
        <div id="pregunta">
          <h3>Sucursal</h3>
          <mat-form-field>
            <input matInput type="text" class="form-control sucursal" id="idSucursal" [value]="defaultSatelite" formControlName="idSucursal" [placeholder]='placeholderSucursal'
              [matAutocomplete]="autoSucursal" placeholder="Buscar por nombre" (input)="onInputSucursales($event)">
            <mat-autocomplete #autoSucursal [displayWith]="displayFn">
              <mat-option *ngFor="let sucursal of filteredSucursales" [value]="sucursal">
                {{ sucursal.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <div id="respuesta">
          <h3>Satélite</h3>
          <mat-form-field *ngIf="inputOficinaSatelite">
            <input matInput type="text"  class="form-control" id="idoficinaSatelite" formControlName="idoficinaSatelite" [value]="inputValue" [placeholder]="placeholderText" [disabled]="true">
          </mat-form-field>
          <mat-form-field *ngIf="inputSatelites">
            <input matInput type="text" class="form-control" id="idSatelite"  formControlName="idSatelite" [matAutocomplete]="autoSatelite"
            placeholder="Buscar por nombre" (input)="onInputSatelites($event)">
            <mat-autocomplete #autoSatelite [displayWith]="displayFnSatelite">
              <mat-option *ngFor="let satelite of filteredSatelites" [value]="satelite">
                {{ satelite.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="form-group" style="width: 100%;">
          <h3>Estatus</h3>
          <div class="switch-group" style="font-size: 0.8em;pointer-events: none;" [style.pointerEvents]="isDivBlocked ? 'none' : 'auto'">
            <label style="padding: 0 1em;" for="inactivo">Inactivo</label>
            <label class="switch">
              <input type="checkbox" name="estatus" id="estatusSatelite" formControlName="estatusSatelite"
                (change)="toggleCheckbox()">
              <span class="slider round"></span>
            </label>
            <label style="padding: 0 0 0 1em;" for="activo">Activado</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="botonesSatelite">
    <button type="button" class="btn btn-primary" (click)="guardarSatelite()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="oncloseDialog()">Cerrar</button>
  </div>
  <br>
</ng-template>
