<br><br>
<div>
  <h1 id="tituloPlaneacionPrincipal">Planeación principal</h1>
</div>
<br><br>
<div class="filtroPlaneacion">
  <form id="formGroupFiltro" name="formGroupFiltro" style="display: contents;" method="post"
    [formGroup]="formGroupFiltro">
    <div class="filtroFecha">
      <h5>Fecha inicio</h5>
      <mat-form-field>
        <input matInput [matDatepicker]="inicio" placeholder="Seleccione una fecha" [matDatepickerFilter]="dateFilter"
          disabled>
        <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
        <mat-datepicker #inicio disabled="false"></mat-datepicker>
      </mat-form-field>

      <h5>Fecha fin</h5>
      <mat-form-field>
        <input matInput [matDatepicker]="fin" placeholder="Seleccione una fecha" [matDatepickerFilter]="dateFilter"
          disabled>
        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
        <mat-datepicker #fin disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="filtrofleteSelect">
      <div>
        <h5>Venta</h5>
        <mat-form-field>
          <mat-select [formControl]="venta" multiple>
            <mat-option (click)="seleccionarTodosVenta()" [value]="ventasSeleccionados ? [] : ventaList">
              {{ ventasSeleccionados ? 'Ninguno' : 'Todos' }}
            </mat-option>
            <mat-option *ngFor="let ventas of ventaList" [value]="ventas">
              {{ventas.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div>
        <h5>Tipo</h5>
        <mat-form-field>
          <mat-select [formControl]="tipo" multiple>
            <mat-option (click)="seleccionarTodosTipo()" [value]="tiposSeleccionados ? [] : tipoList">
              {{ tiposSeleccionados ? 'Ninguno' : 'Todos' }}
            </mat-option>
            <mat-option *ngFor="let Tipos of tipoList" [value]="Tipos">
              {{Tipos.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <h5>Origen</h5>
        <mat-form-field *ngIf="inputCedis==false">
          <input matInput type="text"  class="form-control" id="idCedisLocal" formControlName="idCedisLocal" [value]="inputValueLocal" [placeholder]="placeholderTextLocal" [disabled]="true">
        </mat-form-field>
        <mat-form-field *ngIf="inputCedis">
          <input matInput type="text" class="form-control sucursal" id="idCedis"
            formControlName="idCedis" [value]="inputValue" [placeholder]="placeholderText" [matAutocomplete]="origen"
            (input)="onInputSucursales($event)">
          <mat-autocomplete #origen [displayWith]="displayFn">
            <mat-option *ngFor="let cedis of filteredSucursales" [value]="cedis">
              {{ cedis.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <h5>Zona de influencia</h5>
        <mat-form-field>
          <input matInput type="text" class="form-control sucursal" id="idZona"
            formControlName="idZona" [placeholder]='placeholderSucursal' [matAutocomplete]="zona"
            placeholder="Buscar por nombre" (input)="onInputZonas($event)">
          <mat-autocomplete #zona [displayWith]="displayFnZonas">
            <mat-option *ngFor="let zonas of filteredZonas" [value]="zonasInfluencia">
              {{ zonas.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div id="fletes">
      <div class="botonesFiltro">
        <button id="agregar" type="button" class="btn btn-primary" *ngIf="permisoAInsertarAgregar == 1">Agregar
          corte</button>
        <button id="Buscar" type="button" class="btn btn-primary" (click)="buscar();">Buscar</button>
        <button id="Limpiar" type="button" class="btn btn-primary">Limpiar</button>
      </div>
    </div>
  </form>

</div>


<div class="felteOptimo">
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table matSort class="table table-striped">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
      </ng-container>
      <ng-container matColumnDef="talon">
        <th mat-header-cell *matHeaderCellDef> #Talón
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> </td>
      </ng-container>
      <ng-container matColumnDef="talontipo">
        <th mat-header-cell *matHeaderCellDef> Talón tipo
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> </td>
      </ng-container>
      <ng-container matColumnDef="flete">
        <th mat-header-cell *matHeaderCellDef> Flete
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.flete}} </td>
      </ng-container>
      <ng-container matColumnDef="cdp">
        <th mat-header-cell *matHeaderCellDef> CDP
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.cdp}}% </td>
      </ng-container>
      <ng-container matColumnDef="bultos">
        <th mat-header-cell *matHeaderCellDef> Bultos
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.bultos}} </td>
      </ng-container>
      <ng-container matColumnDef="contiene">
        <th mat-header-cell *matHeaderCellDef> Volumen(m3)
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.contiene}} </td>
      </ng-container>
      <ng-container matColumnDef="volumen">
        <th mat-header-cell *matHeaderCellDef> Que contiene
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.volumen}} </td>
      </ng-container>
      <ng-container matColumnDef="noEconomico">
        <th mat-header-cell *matHeaderCellDef> Unidad
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> </td>
      </ng-container>
      <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef> Origen
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.origen}} </td>
      </ng-container>
      <ng-container matColumnDef="tipoVenta">
        <th mat-header-cell *matHeaderCellDef> Tipo Guia
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> </td>
      </ng-container>
      <ng-container matColumnDef="destino">
        <th mat-header-cell *matHeaderCellDef> Destino
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
              (keyup)="applyFilter($event)" #input>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.destino}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">No existe</td>
      </tr>
    </table>
  </section>
  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  <ng-template #dialogTemplate>
    <div id="datosUsuario">
      <div id="datosUsuarioBox">
        <h1>Alta usuario</h1>
        <div id="personal">
          <h3>Personal</h3>
          <input type="text" class="form-control"><span class="input-group-text"
            id="basic-addon1"><mat-icon>search</mat-icon></span>
        </div>
        <div id="usuario">
          <h3>Usuario</h3>
          <input type="text" class="form-control">
          <h3>Contraseña</h3>
          <input type="text" class="form-control">
        </div>
        <div id="pregunta">
          <h3>Pregunta</h3>
          <input type="text" class="form-control">
        </div>
        <div id="respuesta">
          <h3>Respuesta</h3>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div id="botones">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="oncloseDialog()">Cerrar</button>
    </div>
    <br>
  </ng-template>

</div>
