<br>
<div>
  <button class="btn btn-primary" (click)="regresar();" style="height: 40px;"><mat-icon>arrow_back</mat-icon></button>
</div>
<div class="d-flex justify-content-center">
  <h1 id="tituloConsultaCorte">CONSULTA CORTE</h1>
</div>
<br>
<br>
<div>
  <!--<button class="btn btn-primary">Regresar</button>-->
  <div class="d-flex justify-content-center">
    <h1>{{corte}}</h1>
  </div>

  <div class="d-flex justify-content-center">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="background-color:#e4f4fc;">Fecha</th>
            <th style="background-color:#e4f4fc;">Hora</th>
            <th style="background-color:#e4f4fc;">Tipo de Corte</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ fechaInicio| date:'dd/MM/yyyy' }}</td>
            <td>{{ hora }}</td>
            <td>{{ tipoCorte }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <br>
  <div  class="d-flex justify-content-center">
    <label for="descripcion" style="font-family: fantasy;font-size: larger;">Accion:</label>
    <textarea id="descripcion" name="descripcion" rows="4" cols="100" disabled style="margin-left: 10px;" >{{descripcion}}</textarea>
  </div>

</div>
<br>
<div class="consultaCorte">
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped" #tablaDetalleSort="matSort">
      <ng-container matColumnDef="claTalon">
        <th mat-header-cell *matHeaderCellDef> #Talón
          <div>
            <input type="text" class="form-control" [formControl]="numeroTalonFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.claTalon }} </td>
        <td id="mat-footer-sumatoria" mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="tipoTalon">
        <th mat-header-cell *matHeaderCellDef> Tipo talon
          <div>
            <input type="text" class="form-control" [formControl]="tipoTalonFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.tipoTalon}} </td>
        <td id="mat-footer-sumatoria" mat-footer-cell *matFooterCellDef>Sumatoria:</td>
      </ng-container>
      <ng-container matColumnDef="flete">
        <th mat-header-cell *matHeaderCellDef> Flete
          <div>
            <input type="text" class="form-control" [formControl]="fleteFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.flete }} </td>
        <td id="mat-footer-sumatoria" mat-footer-cell *matFooterCellDef>{{ calcularSumatoria('flete')=== 0 ? ' ' : (calcularSumatoria('flete')| currency:'USD':'symbol':'1.2-2')}}
        </td>
      </ng-container>
      <ng-container matColumnDef="cdp">
        <th mat-header-cell *matHeaderCellDef> CDP
          <div>
            <input type="text" class="form-control" [formControl]="cdpFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.cdp }} </td>
        <td id="mat-footer-sumatoria" mat-footer-cell *matFooterCellDef> {{ calcularSumatoria('cdp')=== 0 ? ' ' : (calcularSumatoria('cdp') | currency:'USD':'symbol':'1.2-2')}}</td>
      </ng-container>
      <ng-container matColumnDef="bulto">
        <th mat-header-cell *matHeaderCellDef> Bultos
          <div>
            <input type="text" class="form-control" [formControl]="bultosFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.bulto }} </td>
        <td id="mat-footer-sumatoria" mat-footer-cell *matFooterCellDef> {{ calcularSumatoria('bulto') === 0 ? ' ' : calcularSumatoria('bulto')}}
        </td>
      </ng-container>
      <ng-container matColumnDef="volumen">
        <th mat-header-cell *matHeaderCellDef> Volumen(m³)
          <div>
            <input type="text" class="form-control" [formControl]="valumenFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.volumen }} </td>
        <td id="mat-footer-sumatoria" mat-footer-cell *matFooterCellDef> {{ calcularSumatoria('volumen')=== 0 ? ' ' : (calcularSumatoria('volumen')+'m³')}}
        </td>
      </ng-container>
      <ng-container matColumnDef="queContiene">
        <th mat-header-cell *matHeaderCellDef> Contiene
          <div>
            <input type="text" class="form-control" [formControl]="contieneFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.queContiene }} </td>
      </ng-container>
      <ng-container matColumnDef="documenta">
        <th mat-header-cell *matHeaderCellDef> Documenta
          <div>
            <input type="text" class="form-control" [formControl]="DocumentaFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.nombreOficinaDocumenta}} </td>
      </ng-container>
      <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef> Origen
          <div>
            <input type="text" class="form-control" [formControl]="origenFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.origen }} </td>
      </ng-container>
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo
          <div>
            <input type="text" class="form-control" [formControl]="tipoFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo }}</td>
      </ng-container>
      <ng-container matColumnDef="venta">
        <th mat-header-cell *matHeaderCellDef> Venta
          <div>
            <input type="text" class="form-control" [formControl]="ventaFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.venta }} </td>
      </ng-container>
      <ng-container matColumnDef="destino">
        <th mat-header-cell *matHeaderCellDef> Destino
          <div>
            <input type="text" class="form-control" [formControl]="destinoFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.destino }}</td>
      </ng-container>
      <ng-container matColumnDef="noGuia">
        <th mat-header-cell *matHeaderCellDef> NoGuia
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.noGuia}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoGuia">
        <th mat-header-cell *matHeaderCellDef> Tipo guia
          <div>
            <input type="text" class="form-control" [formControl]="tipoGuiaFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.tipoGuia}}</td>
      </ng-container>
      <ng-container matColumnDef="noEconomico">
        <th mat-header-cell *matHeaderCellDef> Unidad
          <div>
            <input type="text" class="form-control" [formControl]="noEconomicoFiltro" aria-label="Filtro" aria-describedby="basic-addon1"
            (input)="applyFilter();">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.noEconomico}}</td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> fecha
          <div>
            <input type="text" class="form-control" aria-label="Filtro" aria-describedby="basic-addon1">
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.fecha }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['claTalon','tipoTalon','flete','cdp','bulto','volumen']"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="spinner-overlay" *ngIf="isLoading">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </section>
  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
